@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuentes personalizadas */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Outfit:wght@300;400;700;900&display=swap');




